* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

button{
    margin-top: 1rem;
    padding: 0.5rem 3.5rem;
    background-color: #8b8fe0;
    font-weight: 800;
    color: white;
    border: 1px solid #8b8fe0;
    cursor: pointer;
}

button:hover{
    background-color: #636586;
    color: white;
}
.card {
    background-color: white;
    width: 17rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  .card-one{
    background-color: #8b8fe0;
    color: white;
    width: 19rem;
    padding: 3.5rem;
    text-align: center;
    border-radius: 1rem;
  }

@media screen and (min-width: 650px) and (max-width: 1024px) {
    .card {
        background-color: white;
        width: 15rem;
        padding: 2rem;
        text-align: center;
        border-radius: 1rem;
      }
      .card-one{
        background-color: #8b8fe0;
        color: white;
        width: 17rem;
        padding: 3rem 2rem;
        text-align: center;
        border-radius: 1rem;
      }
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
  }

input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  input[type="checkbox"].toggle + label::before {
    content: "";
    width: 3.5rem;
    height: 2rem;
    background-color: #8b8fe0;
    border-radius: 1rem;
    transition: background-color 200ms ease-in-out;
  }
  
  input[type="checkbox"].toggle + label::after {
    position: absolute;
    content: "";
    left: .4rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  }
  
  input[type="checkbox"].toggle:checked + label::before {
    background-color: #8b8fe0;
  }
  
  input[type="checkbox"].toggle:checked + label::after {
    content: "";
    transform: translateX(85%);
    background-color: white;
  }
  
  .container{
    background-image: url(blob-scene.svg);
    background-size: cover;
    background-position: center;
  }

  .container-two{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5rem 2rem;
    max-width: 62.5rem;
  }

  .radio-section {
    display: flex;
    gap: 2rem;
  }

  .payment-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
  }

  @media screen and (max-width: 600px) {
    .payment-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
      }
  }
  .payment-cards h1 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }
  .payment-cards p {
    padding: 1rem 0;
  }


  .card-one button{
    background-color: white;
    color: #8b8fe0;
  }

  .card-one button:hover{
    background-color: #636586;
    color: white;
  }